body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .header, .footer {
    background-color: #FFDD02;
    color: white;
    padding: 15px;
  }
  
  .header-title {
    font-size: 1.6em;
    color:#000;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .dropdown-group {
    margin-top: 10px;
  }
  
  .content-box {
    background-color: #e6f0ff;
    color: #000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
  }
  
  .main-container {
    display: flex;
    min-height: 60vh;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  }
  
  .left-panel {
    width: 30%;
    background-color: #f0f0f0;
    padding: 15px;
    border-right: 1px solid #ccc;
  }
  
  .right-panel {
    width: 70%;
    padding: 15px;
    background-color: #ffffff;
  }
  
  select {
    padding: 6px;
    font-size: 1em;
    margin-top: 5px;
    width: 100%;
  }
  